<div class="round-selection">
  <!-- <button
    mat-stroked-button
    [color]="userSelection()[3] ? 'primary' : ''"
    (click)="updateUserSelection(3)"
  >
    Octofinals
  </button>
  <button
    mat-stroked-button
    [color]="userSelection()[2] ? 'primary' : ''"
    (click)="updateUserSelection(2)"
    [disabled]="userSelection()[3]"
  >
    Quarter-finals
  </button>
  <button
    mat-stroked-button
    [color]="userSelection()[1] ? 'primary' : ''"
    (click)="updateUserSelection(1)"
    [disabled]="userSelection()[2]"
  >
    Semi-finals
  </button> -->
  <button
    mat-stroked-button
    [color]="userSelection()[4] ? 'primary' : ''"
    (click)="updateUserSelection(4)"
  >
    Third place
  </button>
</div>

<div class="knockout-bracket">
  @let octo = octofinals();
  @if (octo) {
    <div class="round">
      <h3>Octofinals</h3>
      <div class="round-matches">
        @for (match of octo; track match.id) {
          <app-match-card
            [tournamentId]="id()"
            [match_i]="match"
            (matchComplete)="onMatchComplete(match)"
          ></app-match-card>
        }
      </div>
    </div>
  }

  @let quart = quarters();
  @if (quart) {
    <div class="round">
      <h3>Quarter-finals</h3>
      <div class="round-matches">
        @for (match of quart; track match.id) {
          <app-match-card
            [tournamentId]="id()"
            [match_i]="match"
            (matchComplete)="onMatchComplete(match)"
            [teams_selectable]="!userSelection()[3]"
          ></app-match-card>
        }
      </div>
    </div>
  }

  @let semi = semifinals();
  @if (semi) {
    <div class="round">
      <h3>Semi-finals</h3>
      <div class="round-matches">
        @for (match of semi; track match.id) {
          <app-match-card
            [tournamentId]="id()"
            [match_i]="match"
            (matchComplete)="onMatchComplete(match)"
            [teams_selectable]="!userSelection()[2]"
          ></app-match-card>
        }
      </div>
    </div>
  }

  <div class="round items-center flex-1">
    <div class="round-matches">
      <div>
        <h3>Finals</h3>
        <app-match-card
          [tournamentId]="id()"
          [match_i]="final()!"
          (matchComplete)="onMatchComplete($event)"
        ></app-match-card>
      </div>

      @if (thirdPlaceMatch()) {
        <div>
          <h3 class="m-0">Third place</h3>
          <app-match-card
            [tournamentId]="id()"
            [match_i]="thirdPlaceMatch()!"
            (matchComplete)="onMatchComplete($event)"
          ></app-match-card>
        </div>
      }
    </div>
  </div>
</div>
