@if ((match && match.team1 && match.team2) || (match && teams_selectable())) {
  <mat-card class="flex flex-col max-w-70">
    <mat-card-content>
      <div>
        @if (teams_selectable() && match) {
          <div class="flex flex-row">
            <mat-form-field>
              <mat-select
                [value]="match.team1?.name"
                (valueChange)="select1Team($event, match!)"
                class="p-0"
              >
                @for (team of allTeams; track team.id) {
                  <mat-option [value]="team.name">
                    {{ team.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div class="vs">vs</div>
          </div>

          <mat-form-field>
            <mat-select
              [value]="match.team2?.name"
              (valueChange)="select2Team($event, match!)"
              [class.winner]="is2Winner(match!)"
            >
              @for (team of allTeams; track team.id) {
                <mat-option [value]="team.name">
                  {{ team.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        <!--  -->
        @else {
          <div class="match-teams">
            <div class="team1" [class.winner]="is1Winner(match!)">
              {{ match.team1?.name }}
            </div>
            <div class="vs">vs</div>
            <div class="team2" [class.winner]="is2Winner(match!)">
              {{ match.team2?.name }}
            </div>
          </div>
        }
      </div>

      <div class="flex flex-row gap-2">
        <mat-form-field>
          <input
            matInput
            type="number"
            [(ngModel)]="match!.team1Score"
            placeholder="Score"
          />
        </mat-form-field>
        <span>-</span>
        <mat-form-field>
          <input
            matInput
            type="number"
            [(ngModel)]="match!.team2Score"
            placeholder="Score"
          />
        </mat-form-field>
      </div>
      <mat-checkbox
        [(ngModel)]="match!.completed"
        (ngModelChange)="matchComplete.emit(match!)"
      >
        Match completed
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
} @else {
  <mat-card class="match-card">
    <mat-card-content>
      <div class="match-teams">
        <div class="match-teams">
          <div class="team1">No team yet..</div>
          <div class="vs">vs</div>
          <div class="team2">No team yet..</div>
        </div>
      </div>

      <div class="match-scores">
        <mat-form-field>
          <input matInput type="number" disabled="true" placeholder="Score" />
        </mat-form-field>
        <span>-</span>
        <mat-form-field>
          <input matInput type="number" disabled="true" placeholder="Score" />
        </mat-form-field>
      </div>
      <mat-checkbox disabled="true"> Match completed </mat-checkbox>
    </mat-card-content>
  </mat-card>
}
