@if ((match && match.team1 && match.team2) || (match && teams_selectable())) {
  <mat-card class="w-full p-0">
    <mat-card-content>
      @if (teams_selectable() && match) {
        <div class="flex flex-row items-center justify-center gap-2">
          <mat-form-field class="flex-[0.45] m-0 p-0" appearance="outline">
            <mat-select
              [value]="match.team1?.name"
              (valueChange)="select1Team($event, match!)"
              class="text-center"
            >
              @for (team of allTeams; track team.id) {
                <mat-option [value]="team.name">
                  {{ team.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div
            class="flex flex-[0.1] items-center justify-center text-gray-500 mb-6"
          >
            vs
          </div>
          <mat-form-field class="flex-[0.45] m-0" appearance="outline">
            <mat-select
              [value]="match.team2?.name"
              (valueChange)="select2Team($event, match!)"
              [class.winner]="is2Winner(match!)"
              class="text-center"
            >
              @for (team of allTeams; track team.id) {
                <mat-option [value]="team.name">
                  {{ team.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      } @else {
        <div class="grid grid-cols-3 items-center gap-2">
          <div class="text-center" [class.font-bold]="is1Winner(match)">
            {{ match.team1?.name || "TBD" }}
          </div>
          <div class="text-center text-gray-500">vs</div>
          <div class="text-center" [class.font-bold]="is2Winner(match)">
            {{ match.team2?.name || "TBD" }}
          </div>
        </div>
      }

      <div class="grid grid-cols-3 items-center gap-2">
        <mat-form-field class="w-full m-0" appearance="outline">
          <input
            matInput
            type="number"
            min="0"
            max="10"
            [disabled]="match.completed"
            [(ngModel)]="match.team1Score"
            class="text-center"
          />
        </mat-form-field>
        <div class="text-center text-gray-500">-</div>
        <mat-form-field class="w-full m-0" appearance="outline">
          <input
            matInput
            type="number"
            min="0"
            max="10"
            [disabled]="match.completed"
            [(ngModel)]="match.team2Score"
            class="text-center"
          />
        </mat-form-field>
      </div>

      <mat-checkbox
        [(ngModel)]="match.completed"
        (ngModelChange)="matchComplete.emit(match)"
        class="w-full flex justify-center"
      >
        Match completed
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
} @else {
  <mat-card class="w-full p-0">
    <mat-card-content class="flex flex-col gap-2 p-2">
      <div class="grid grid-cols-3 items-center gap-2">
        <div class="text-center text-gray-500">TBD</div>
        <div class="text-center text-gray-500">vs</div>
        <div class="text-center text-gray-500">TBD</div>
      </div>

      <div class="grid grid-cols-3 items-center gap-2">
        <mat-form-field class="w-full m-0" appearance="outline">
          <input matInput type="number" disabled class="text-center" />
        </mat-form-field>
        <div class="text-center text-gray-500">-</div>
        <mat-form-field class="w-full m-0" appearance="outline">
          <input matInput type="number" disabled class="text-center" />
        </mat-form-field>
      </div>

      <mat-checkbox disabled class="w-full flex justify-center">
        Match completed
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
}
